In [1]:
# dictionary
# -indexed
# -ordered
# -multiple and duplicate values
# -mutable

In [2]:
d={}
# d=dict()
# d={<key>:<value>,<key>:<value>,...}

In [5]:
d={'a':"Apple",'b':'Ball','c':'Cat'}
type(d)

dict

In [6]:
d={'a':"Apple",'b':'Ball','c':'Cat'}
print(d['a'])
print(d['b'])
print(d['c'])

Apple
Ball
Cat

In [8]:
d={'a':"Apple",'b':'Ball','c':'Cat'}
print(d)
print(len(d))

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}
3

In [10]:
d={'a':"Apple",'b':'Ball','c':'Cat','A':'Apple'}
print(d)

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat', 'A': 'Apple'}

In [11]:
d={'a':"Apple",'b':'Ball','c':'Cat','a':'Ant'}
print(d)

{'a': 'Ant', 'b': 'Ball', 'c': 'Cat'}

In [14]:
d={}
d['a']='Apple'
d['b']='Ball'
d['cat']='Cat'
d

{'a': 'Apple', 'b': 'Ball', 'cat': 'Cat'}

In [18]:
d={}
c=int(input("Enter c="))
for i in range(c):
    name = input("Enter name=")
    phone = input("Enter phone=")
    d[name] = phone
print(d)

Enter c=2
Enter name=ayush
Enter phone=9865000444
Enter name=anzila badarbi
Enter phone=9865245957
{'ayush': '9865000444', 'anzila badarbi': '9865245957'}

In [19]:
d={'ayush': '9865000444', 'anzila badarni': '9865245957'}
for i in d:
    print(i)

ayush
anzila badarni

In [20]:
d={'ayush': '9865000444', 'anzila badarni': '9865245957'}
for i in d.values():
    print(i)

9865000444
9865245957

In [21]:
l=[]
d={'ayush': '9865000444', 'anzila badarni': '9865245957'}
for i in d.items():
    l.append(i)
l

[('ayush', '9865000444'), ('anzila badarni', '9865245957')]

In [22]:
dict(l)

{'ayush': '9865000444', 'anzila badarni': '9865245957'}

In [23]:
# update
d={'ayush': '9865000444', 'anzila badarni': '9865245957'}
d['ayush']=9845139311
print(d)

{'ayush': 9845139311, 'anzila badarni': '9865245957'}

In [24]:
# del pop()
d={'ayush': '9865000444', 'anzila badarni': '9865245957'}
e=d.pop('ayush')
print(d)
print(e)

{'anzila badarni': '9865245957'}
9865000444

In [25]:
d={'ayush': '9865000444', 'anzila badarni': '9865245957'}
del d['ayush']
d

{'anzila badarni': '9865245957'}

In [29]:
# list inside dictionary
d={'ayush': ['9865000444','9845139311'], 
   'anzila badarni': ['9865245957','9845783220']}
print(d['ayush'])
print(d['ayush'][0])

['9865000444', '9845139311']
9865000444

In [30]:
d={}
c=int(input("Enter c="))
for i in range(c):
    name = input("Enter name=")
    ntc_phone = input("Enter ntc phone=")
    ncell_phone = input("Enter ncell phone=")
    d[name]=[ntc_phone,ncell_phone]
print(d)

Enter c=2
Enter name=ayush
Enter ntc phone=9865000444
Enter ncell phone=9805451245
Enter name=anzila badarni
Enter ntc phone=9865245957
Enter ncell phone=9802456132
{'ayush': ['9865000444', '9805451245'], 'anzila badarni': ['9865245957', '9802456132']}

In [31]:
d={'ayush': ['9865000444', '9805451245'], 
   'anzila badarni': ['9865245957', '9802456132']}
d['anzila suddi']=['9845139311','9802561234']
d

{'ayush': ['9865000444', '9805451245'],
 'anzila badarni': ['9865245957', '9802456132'],
 'anzila suddi': ['9845139311', '9802561234']}

In [32]:
d['ayush'][0]='9845783220'
d

{'ayush': ['9845783220', '9805451245'],
 'anzila badarni': ['9865245957', '9802456132'],
 'anzila suddi': ['9845139311', '9802561234']}

In [33]:
# d={'SN':[1,2],
#    'product':[momo,coke],
#    'rate':[200,100],
#    'quantity':[2,4],
#    'total':[400,400]}

In [35]:
# dict inside list
l=[{'sn':1,'product':'momo','quantity':2,'price':200,'total':400},
   {'sn':2,'product':'coke','quantity':3,'price':100,'total':300}]
print(l[0])
print(l[0]['product'])

{'sn': 1, 'product': 'momo', 'quantity': 2, 'price': 200, 'total': 400}
momo

In [37]:
# dict inside dict
d={1:{'product':'momo','quantity':2,'price':200,'total':400},
   2:{'product':'coke','quantity':3,'price':100,'total':300}}
print(d)

{1: {'product': 'momo', 'quantity': 2, 'price': 200, 'total': 400}, 2: {'product': 'coke', 'quantity': 3, 'price': 100, 'total': 300}}

In [40]:
bill={}
c=int(input("Enter c ="))
for i in range(1,c+1):
    name=input("Enter name =")
    quantity=int(input("Enter quantity ="))
    price=int(input("Enter price ="))
    total=price*quantity
    bill[i]={'product':name,'quantity':quantity,'price':price,'total':total}
print(bill)

Enter c =2
Enter name =momo
Enter quantity =2
Enter price =200
Enter name =coke
Enter quantity =2
Enter price =100
{1: {'product': 'momo', 'quantity': 2, 'price': 200, 'total': 400}, 2: {'product': 'coke', 'quantity': 2, 'price': 100, 'total': 200}}

In [2]:
bill={'sn':[],'product':[],'price':[],'quantity':[],'total':[]}
c=int(input("Enter c ="))
for i in range(1,c+1):
    name=input("Enter name =")
    quantity=int(input("Enter quantity ="))
    price=int(input("Enter price ="))
    total=price*quantity
    bill['sn'].append(i)
    bill['product'].append(name)
    bill['price'].append(price)
    bill['quantity'].append(quantity)
    bill['total'].append(total)
print(bill)

Enter c =2
Enter name =momo
Enter quantity =2
Enter price =200
Enter name =coke
Enter quantity =3
Enter price =100
{'sn': [1, 2], 'product': ['momo', 'coke'], 'price': [200, 100], 'quantity': [2, 3], 'total': [400, 300]}

In [4]:
l=[]
c=int(input("Enter c ="))
for i in range(1,c+1):
    name=input("Enter name =")
    quantity=int(input("Enter quantity ="))
    price=int(input("Enter price ="))
    total=price*quantity
    d={'sn':i, 'product':name, 'price':price, 'quantity':quantity, 'total':total}
    l.append(d)
print(l)

Enter c =2
Enter name =mom
Enter quantity =2
Enter price =200
Enter name =coke
Enter quantity =3
Enter price =100
[{'sn': 1, 'product': 'mom', 'price': 200, 'quantity': 2, 'total': 400}, {'sn': 2, 'product': 'coke', 'price': 100, 'quantity': 3, 'total': 300}]

In [2]:
d={1:{'physics':{'th':50,'pr':25}},
   2:{'physics':{'th':50,'pr':25}}}
d

{1: {'physics': {'th': 50, 'pr': 25}}, 2: {'physics': {'th': 50, 'pr': 25}}}