In [2]:
a=['Apple','Ball','Cat','Dog','Egg']
print(a[0])
print(a[0:4])
print(a[0:5:2])
print(type(a[0]))

Apple
['Apple', 'Ball', 'Cat', 'Dog']
['Apple', 'Cat', 'Egg']
<class 'str'>

In [2]:
a=list('Apple')
a

['A', 'p', 'p', 'l', 'e']

In [3]:
a=['Apple','Ball','Cat','Dog','Egg']
print(a)

['Apple', 'Ball', 'Cat', 'Dog', 'Egg']

In [5]:
# + *
a=[1,2,3,4,5,6]
b=['Apple','Ball','Cat']
c=a+b
print(c)

[1, 2, 3, 4, 5, 6, 'Apple', 'Ball', 'Cat']

In [6]:
a=[1,2,3,4,5]
print(a*2)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [7]:
a=['Apple','Ball','Cat','Dog','Egg']
for i in a:
    print(i)

Apple
Ball
Cat
Dog
Egg

In [10]:
l=list()
c=int(input("Enter c= "))
for i in range(c):
    x=int(input("Enter x="))
    l=l+[x]
print(l)

Enter c= 5
Enter x=234
Enter x=22
Enter x=223
Enter x=2324
Enter x=23242
[234, 22, 223, 2324, 23242]

In [12]:
print("The max value =",max(l))
print("The min value =",min(l))
print("The sum value =",sum(l))
l.sort()
print(l)
l.reverse()
print(l)

The max value = 23242
The min value = 22
The sum value = 26045
[22, 223, 234, 2324, 23242]
[23242, 2324, 234, 223, 22]

In [13]:
a=['zebra','apple','cat','ant']
a.sort()
print(a)

['ant', 'apple', 'cat', 'zebra']

In [14]:
# append() insert() extend()

In [15]:
a=[]
a.append('Apple')
a.append('Ball')
print(a)

['Apple', 'Ball']

In [16]:
l=list()
c=int(input("Enter c= "))
for i in range(c):
    x=int(input("Enter x="))
    l.append(x)
print(l)

Enter c= 2
Enter x=33
Enter x=44
[33, 44]

In [2]:
a=['ant', 'apple', 'cat', 'zebra']
a.insert(1,'Apple')
a

['ant', 'Apple', 'apple', 'cat', 'zebra']

In [3]:
a=['ant', 'apple', 'cat', 'zebra']
b=[1,2,3,4,5]
a.extend(b)
print(a)

['ant', 'apple', 'cat', 'zebra', 1, 2, 3, 4, 5]

In [4]:
#update
a=['ant', 'apple', 'cat', 'zebra']
a[0]='Ant'
a

['Ant', 'apple', 'cat', 'zebra']

In [7]:
a=['ant', 'apple', 'cat', 'zebra']
a[0:2]=['Ant','anzila badarni']
a

['Ant', 'anzila badarni', 'cat', 'zebra']

In [11]:
# del remmove() pop()
a=['ant', 'apple', 'cat', 'zebra']
del a[0]
a

['apple', 'cat', 'zebra']

In [12]:
a=['ant', 'apple', 'cat', 'zebra']
del a[0:3]
a

['zebra']

In [13]:
a=['ant', 'apple', 'cat', 'zebra']
a.remove('cat')
a

['ant', 'apple', 'zebra']

In [14]:
a=['ant', 'apple', 'cat', 'zebra','zebra']
name=input("Enter name =")
c=a.count(name)
for i in range(c):
    a.remove(name)
print(a)

Enter name =zebra
['ant', 'apple', 'cat']

In [16]:
a=['ant', 'apple', 'cat', 'zebra','zebra']
a.index('zebra')

3

In [19]:
a=['ant', 'apple', 'cat', 'zebra','zebra']
for i in range(len(a)):
    if a[i]=='zebra':
        print(i)

3
4

# List inside list

In [3]:
a=[[1,2,3],
   [4,5,6],
   [7,8,9]]
print(len(a))
print(a[0])
print(a[0][0])

3
[1, 2, 3]
1

In [4]:
a=[['Ram',34,'Kathmandu'],
   ['Shyam',56,'Bhaktapur'],
   ['Hari',78,'Lalitpur']]
print(a)

[['Ram', 34, 'Kathmandu'], ['Shyam', 56, 'Bhaktapur'], ['Hari', 78, 'Lalitpur']]

In [6]:
data=[]
c=int(input("Ener c="))
for i in range(c):
    name=input("Ener name=")
    age=int(input("Ener age="))
    address=input("Ener address=")
    data.append([name,age,address])
    
data

Ener c=2
Ener name=ayush
Ener age=22
Ener address=chitwan
Ener name=anzila badarni
Ener age=24
Ener address=chitwab

[['ayush', 22, 'chitwan'], ['anzila badarni', 24, 'chitwab']]

In [8]:
# update
a=[['ayush', 22, 'chitwan'], ['anzila badarni', 24, 'chitwab']]
# a[0]=['anzila suddi','25','chitwan']
a[1][0]='anzila suddi'
a

[['ayush', 22, 'chitwan'], ['anzila suddi', 24, 'chitwab']]

In [9]:
# delete
a=[['ayush', 22, 'chitwan'], ['anzila badarni', 24, 'chitwab']]
del a[0]
a

[['anzila badarni', 24, 'chitwab']]

In [10]:
a=[['ayush', 22, 'chitwan'], ['anzila badarni', 24, 'chitwab']]
b=a.pop(0)
print(a)
print(b)

[['anzila badarni', 24, 'chitwab']]
['ayush', 22, 'chitwan']

In [12]:
a=[['ayush', 22, 'chitwan'], ['anzila badarni', 24, 'chitwab']]
b=a[1].pop(0)
print(a)
print(b)

[['ayush', 22, 'chitwan'], [24, 'chitwab']]
anzila badarni

In [13]:
a=[['ayush', 22, 'chitwan'], ['anzila badarni', 24, 'chitwab']]
a[0].append(9865000444)
a[1].append(9865000444)
a

[['ayush', 22, 'chitwan', 9865000444],
 ['anzila badarni', 24, 'chitwab', 9865000444]]

In [16]:
a=[['ayush', 22, 'chitwan'],
   ['anzila badarni', 24, 'chitwab'],
   ['anzila suddi', 25, 'chitwan']]
name=input("Enter name=")
for i in a :
    if name in i:
        print(i)

Enter name=ayush
['ayush', 22, 'chitwan']

In [3]:
a=[['Ayush', 22, 'Chitwan'],
   ['Anzila badarni', 24, 'Chitwab'],
   ['Anzila suddi', 25, 'Chitwan']]
name=input("Enter name=")
for i in a :
    if name.lower()==i[0].lower():
        print(i)

Enter name=ayush
['Ayush', 22, 'Chitwan']

In [5]:
a=[['Ayush', 22, 'Chitwan'],
   ['Anzila badarni', 24, 'Chitwab'],
   ['Anzila suddi', 25, 'Chitwan'],
   ['Ayush', 22, 'Chitwan']]
name=input("Enter name=")
for i in range(len(a)) :
    if a[i][0]==name:
        print(i)

Enter name=Ayush
0
3

In [7]:
a=[['Ayush', 22, 'Chitwan'],
   ['Anzila badarni', 24, 'Chitwab'],
   ['Anzila suddi', 25, 'Chitwan'],
   ['Ayush', 22, 'Chitwan']]
name=input("Enter name=")
for i in range(len(a)) :
    if a[i][0].lower()==name.lower():
        print(i)

Enter name=ayush
0
3

In [10]:
a=[['Ayush', 22, 'Chitwan'],
   ['Anzila badarni', 24, 'Chitwab'],
   ['Anzila suddi', 25, 'Chitwan'],
   ['Ayush', 16, 'Chitwan']]
# name=input("Enter name=")
for i in range(len(a)) :
    if a[i][1]>=18:
        print(i)

0
1
2