In [ ]:
# loop
# for loop
# while

In [ ]:
# for loop
# range(5)         (0,1,2,3,4) for(i=0; i<5; i++)
# range(1,5)       (1,2,3,4) for(i=1; i<5; i++)
# range(1,5,2)     (1,3) for(i=1; i<5; i=i+2)

In [1]:
for i in range(5):
    print("Hello World")

Hello World
Hello World
Hello World
Hello World
Hello World

In [2]:
for i in range(1,5):
    print(i,"Hello World")

1 Hello World
2 Hello World
3 Hello World
4 Hello World

In [3]:
for i in range(1,5,2):
    print(i,"Hello World")

1 Hello World
3 Hello World

In [4]:
n = 5
for i in range(1,11):
    print(n*i)

5
10
15
20
25
30
35
40
45
50

In [5]:
n = int(input("Enter n = "))
for i in range(1,11):
    print(n,"*",i,"=",n*i)

Enter n = 2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [15]:
c = int(input("Enter c = "))
for i in range(c):
    n = int(input("Enter n = "))

Enter c = 2
Enter n = 3
Enter n = 4

In [2]:
s = 0
c = int(input("Enter c = "))
for i in range(c):
    n = int(input("Enter money = "))
    s = s+n
print(s)

Enter c = 2
Enter money = 200
Enter money = 2000
2200

In [4]:
s = 0
c = int(input("Enter c = "))
for i in range(c):
    n = int(input("Enter money = "))
    s = s+n
    print(s)

Enter c = 2
Enter money = 200
200
Enter money = 220
420

In [2]:
s = str()
# s = ""
c = int(input("Enter c = "))
for i in range(c):
    n = input("Enter name = ")
    s = s+n+"\n"
print(s)

Enter c = 2
Enter name = ayush
Enter name = khadka
ayush
khadka

In [1]:
s = str()
# s = ""
c = int(input("Enter c = "))
for i in range(c):
    n = input("Enter name = ")
    s = s+n+"\n"
    print(s)

Enter c = 2
Enter name = ayush
ayush

Enter name = khadka
ayush
khadka

In [11]:
s = str()
# s = ""
c = int(input("Enter c = "))
for i in range(c):
    name = input("Enter name = ")
    phone = input("Enter phone = ")
    
    s = s + name + " "+phone + "\n"
print(s)

Enter c = 2
Enter name = ayush
Enter phone = 986500444
Enter name = shyam
Enter phone = 9845139311
ayush 986500444
shyam 9845139311

In [3]:
s = str()
# s = ""
c = int(input("Enter c = "))
for i in range(c):
    name = input("Enter name = ")
    phone = input("Enter phone = ")
    
    s = s + name + " "+phone + "\n"
    print(s)

Enter c = 2
Enter name = ayush
Enter phone = 9865000444
ayush 9865000444

Enter name = shyam
Enter phone = 9845193911
ayush 9865000444
shyam 9845193911

In [14]:
#4! = 1*2*3*4
s = 1
c = int(input("Enter c = "))
for i in range(1,c+1):
    s = s*i
print(s)

Enter c = 3
6

In [5]:
#4! = 1*2*3*4
s = 1
c = int(input("Enter c = "))
for i in range(1,c+1):
    s = s*i
    print(s)

Enter c = 2
1
2

In [1]:
a="Python"
for i in a:
    print(i,end="")

Python

In [3]:
for i in range(5,-1,-1):
    print(i,end="")

543210

In [5]:
a="Python"
a[1]

'y'

In [6]:
a="Python"
c=len(a)
for i in range(c):
    print(a[i],end=" ")

P y t h o n

In [7]:
a="Python"
c=len(a)
for i in range(c-1,-1,-1):
    print(a[i],end=" ")

n o h t y P

In [9]:
a="Hello world i am python"
for i in a:
    if i != " ":
        print(i,end="")

Helloworldiampython

In [11]:
a="Hello world i am python."
for i in a:
    if i != " " and i !=".":
        print(i,end="")

Helloworldiampython

In [12]:
a="Hello world i am python."
for i in a:
    if (i != " ") or (i !="."):
        print(i,end="")

Hello world i am python.

In [ ]:
# control statements
# break
# continue
# pass

In [14]:
for i in range(10):

    print(i)

0
1
2
3
4
5
6
7
8
9

In [20]:
for i in range(10):
    if i ==5:
        break
    print(i,end="")

01234

In [17]:
a="Hello world.I am Ayush."
for i in a:
    if i==".":
        break
    print(i,end="")

Hello world

In [19]:
for i in range(10):
    if i ==5:
        continue
    print(i,end="")

012346789

In [21]:
a="Hello world.I am Ayush."
for i in a:
    if i==".":
        continue
    print(i,end="")

Hello worldI am Ayush

In [22]:
a="Hello world.I am Ayush."
for i in a:
    if i==".":
        print(i,end="")
        break
    print(i,end="")

Hello world.

In [25]:
#for else loop
n=int(input("Enter a number="))
for i in range(2,n):
    if n%i==0:
        print("The number is composite")
        break
else:
    print("The number is prime")

Enter a number=115
The number is composite

In [ ]:
# while loop
# while <condition>:
#     <operation>

In [4]:
a=0
while a<5:
    print(a,"Hello world")
    a=a+1
#a+=1

0 Hello world
1 Hello world
2 Hello world
3 Hello world
4 Hello world

In [5]:
a=5
while a>=0:
    print(a,"Hello world")
    a=a-1

5 Hello world
4 Hello world
3 Hello world
2 Hello world
1 Hello world
0 Hello world

In [6]:
a=0
while a<5:
    print(a,"Hello world")
    a=a+0.5

0 Hello world
0.5 Hello world
1.0 Hello world
1.5 Hello world
2.0 Hello world
2.5 Hello world
3.0 Hello world
3.5 Hello world
4.0 Hello world
4.5 Hello world

In [1]:
i=1
n=int(input("Enter n="))
while i<=10:
    print(n,"*",i,"=",n*i)
    i=i+1

Enter n=5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [4]:
s = 0
i=0
c = int(input("Enter c = "))
while i<c: 
    n = int(input("Enter money = "))
    s = s+n
    i=i+1
print(s)

Enter c = 3
Enter money = 200
Enter money = 200
Enter money = 200
600

In [5]:
s = str()
i=0
c = int(input("Enter c = "))
while i<c:
    n = input("Enter name = ")
    s = s+n+"\n"
    i=i+1
print(s)

Enter c = 3
Enter name = ayush
Enter name = ayush
Enter name = ayush
ayush
ayush
ayush

In [ ]:
s = str()
# s = ""
i=0
c = int(input("Enter c = "))
while i<c:
    name = input("Enter name = ")
    phone = input("Enter phone = ")
    
    s = s + name + " "+phone + "\n"
    i=i+1
print(s)

In [1]:
#4! = 1*2*3*4
s = 1
i=1
c = int(input("Enter c = "))
while i<=c:
    s = s*i
    i=i+1
print(s)

Enter c = 3
6

In [3]:
s=0
N1=int(input("Enter N1 ="))
N2=int(input("Enter N2 ="))
while N1<=N2:
    s=s+N1
    N1=N1+1
print(s)

Enter N1 =1
Enter N2 =5
15

In [4]:
s=1
N1=int(input("Enter N1 ="))
N2=int(input("Enter N2 ="))
while N1<=N2:
    s=s*N1
    N1=N1+1
print(s)

Enter N1 =1
Enter N2 =5
120

In [5]:
a="PYTHON"
l=len(a)
i=0
while i<l:
    print(a[i],end="")
    i=i+1

PYTHON

In [1]:
a="Hello World I am Python"
l=len(a)
i=0
while i<l:
    if a[i] !="":
        print(a[i],end="")
        i=i+1

Hello World I am Python

In [4]:
# control statement ni while loop
while True:
    print("Hello world")
    break

Hello world

In [5]:
a=0
while a<10:
    if a==5:
        break
    print(a)
    a+=1

0
1
2
3
4

In [1]:
a=0
while a<10:
    if a==5:
        a+=1
        continue
    print(a)
    a+=1

0
1
2
3
4
6
7
8
9

In [ ]:
n=int(input("Enter a number="))
for i in range(2,n):
    if n%i==0:
        print("The number is composite")
        break
else:
    print("The number is prime")